@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind toggle theme */
@custom-variant dark (&:where(.dark, .dark *));

html {
	/* Light theme variables */
	--color-bg: #ffffff;
	--color-text: #111111;
	--color-primary: #06b6d4;
	--color-header-bg: #ffffff;
	--color-header-text: #111111;
}

html.dark {
	/* Dark theme variables */
	--color-bg: #18181b;
	--color-text: #f4f4f5;
	--color-primary: #22d3ee;
	--color-header-bg: #18181b;
	--color-header-text: #f4f4f5;
}

body {
	margin: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-bg);
	color: var(--color-text);
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
